<!--card-->
<div class="flex mx-20">
            <img src="/assets/juice card.jpg" alt="" width="1500">
        </div>
<!--cards-->

<div class="grid grid-cols-4 gap-6 py-4 px-5 height-20 mx-20 px-25">
    <div class="border border-black p-2">
        <img src="/assets/coco.jpg" alt="">
        <div class="card-body text-black text-center py-2 text-xl">
            <span class="card-title font-bold">Cocunut Water - 200ML</span><br>
            ₹120<br>
            <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>

    <div class="border border-black p-2">
        <img src="/assets/pomo.jpg" alt="">
        <div class="card-body text-black text-center py-2 text-xl">
            <span class="card-title font-bold">Pomegranate - 250ML</span><br>
            ₹220<br>
            <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>


    <div class="border border-black p-2">
        <img src="/assets/protein.jpg" alt="">
        <div class="card-body text-black text-center py-2 text-xl">
            <span class="card-title font-bold">Protein Milkshake- 200ML</span><br>
            ₹100<br>
            <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>

    <div class="border border-black p-2">
        <img src="/assets/gua.jpg" alt="">
        <div class="card-body text-black text-center py-2 text-xl">
            <span class="card-title font-bold">Pink Guava Chili - 200ML</span><br>
            ₹50<br>
            <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>
</div>

<!--cards-->

<div class="grid grid-cols-4 gap-4 py-4 px-5 height-20 mx-20 px-25">
    <div class="border border-black p-2">
        <img src="/assets/mangoo.jpg" alt="">
        <div class="card-body text-black text-center py-2 text-xl">
            <span class="card-title font-bold">Aam Mango - 200ML</span><br>
            ₹50<br>
            <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>

    <div class="border border-black p-2">
        <img src="/assets/oran.jpg" alt="">
        <div class="card-body text-black text-center py-2 text-xl">
            <span class="card-title font-bold">Valencia Orange- 250ML</span><br>
            ₹550<br>
            <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>


    <div class="border border-black p-2">
        <img src="/assets/mang.jpg" alt="">
        <div class="card-body text-black text-center py-2 text-xl">
            <span class="card-title font-bold">Aam Mango - 750ML</span><br>
            ₹720<br>
            <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>

    <div class="border border-black p-2">
        <img src="/assets/sugar.jpg" alt="">
        <div class="card-body text-black text-center py-2 text-xl">
            <span class="card-title font-bold">SugarCane - 750ML</span><br>
            ₹550<br>
            <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>
</div>



<!--card-->

<div class="flex mx-20 p-4">
            <img src="/assets/offerr.jpg" alt="" width="1500">
        </div>