<section class="bg-black">
    <br><br><br><br>
    <div>
        <p class="text-6xl text-white font-bold text-center p-20">Order Confirmed!✅</p>
    </div>
    <br>
    <div class="text-center">
     <a href="/home" class="border-2 border-white btn btn-white text-black text-2xl my-2 px-2 text-white">Contiune to Home Page❤️</a>
    </div>
    <br><br><br><br><br><br><br>
    
</section>