<section>
    <div class="p-4">
        {{#if info}}
            <div class="bg-black p-2 text-green-200 tracking-widest my-2 rounded">
                <p>
                    <i class="bi bi-person"></i>
                    {{ info }}
                </p>
            </div>
        {{/if}}


        <div class="flex mx-20">
            <img src="/assets/sweet.jpg" alt="" width="1500">
        </div>


        <div class="text-center font-bold">
            <div class="py-4">
                <p class="text-4xl font-bold pl-10">providing quality products</p>
                <p class="text-3xl font-bold pl-14">ORGANIC FRUITS</p>
                <p class="text-2xl font-bold pl-10">100% HEALTHY ❤️ AFFORDABLE</p>
            </div>
        </div>


        <!--fruits offer-->


        <br>

        <hr class="border-4 border-black">
        <br>


        <br>


        <!--first row card-->


        <div>
            <div class="grid grid-cols-4 gap-4">
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/cherry.avif" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Cherry</p>
                    <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                        <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/banana.jpg" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Banana</p>
                    <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                        <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/apple.png" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Apple</p>
                    <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                        <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/orange1.jpg" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Orange</p>
                    <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                        <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>


        <br>




        <!--second row card-->


        <div>
            <div class="grid grid-cols-4 gap-4">
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/guava.jpg" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Guava</p>
                    <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                        <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/jack.avif" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Jack Fruit</p>
                    <p class="text-xl font-bold text-center pr-4"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                        <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/strawberry.jpg" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Strawberry</p>
                    <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                        <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/pineapple1.jpg" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Pineapple</p>
                    <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                        <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>


        <br>




        <!--third row card-->

        <div>
            <div class="grid grid-cols-4 gap-4">
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/mango.jpg" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Mango</p>
                    <p class="text-xl font-bold text-center pr-4"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                    <a href="/form">
                        <button class="btn btn-primary my-2 px-2 pl-5">Shop now</button>
                    </a>
                    </div>
                </div>
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/dragon.avif" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Dragon Fruit</p>
                    <p class="text-xl font-bold text-center"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/kiwi.jpg" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Kiwi</p>
                    <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
                <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                    <img src="/assets/papaya1.jpg" alt="" height="500" width="500">
                    <p class="font-bold text-3xl text-center tracking-widest">Papaya</p>
                    <p class="text-xl font-bold text-center pr-4"><i class="bi bi-currency-rupee"></i>100</p>
                    <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
</section>

