<!--img-->
<section>


    <!--carousel-->
<div class="container py-4">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/vegg.webp" class="d-block w-90" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/vegg2.webp" class="d-block w-90" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/vegg3.webp" class="d-block w-90" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
    


    <!--text-->
    <div class="text-center py-4 flex flex-col justify-center items-center gap-2">
        <p class="text-5xl pl-10 font-bold text-2xl tracking-wider">
            "Green World🍃"
        </p>
    </div>


    <br>


    <!--rounds-->

    <div class="grid grid-cols-3 gap-4 container">
        <div>
            <img src="/assets/veground1.jpg" class="pr-4" alt="img">
            <p class="px-16 py-2 text-2xl font-bold tracking-widest">Premium Products</p>
        </div>
        <div>
            <img src="/assets/veground2.jpg" class="pr-4" alt="img">
            <p class="text-2xl px-12 font-bold tracking-widest">Carefully Cultivation</p>
        </div>
        <div>
            <img src="/assets/veground3.jpg" class="pr-4" alt="img">
            <p class="text-2xl px-14 font-bold tracking-widest">Timely Harvesting</p>
        </div>
    </div>

    <br>
    <hr class="border-4 border-black">
    <br>




    <br>

    <!--text-->
    <div>
        <p class="font-bold text-3xl text-center">
            We Work To Make Your Food Healthy And Tasty
        </p>
    </div>


    <br>

    <!--first row card-->


    <div>
        <div class="grid grid-cols-4 gap-4">
            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/tomato.jpg" alt="" height="500" width="500">
                <p class="font-bold  text-center text-3xl">Tomato</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>

            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/onion.jpg" alt="" height="500" width="500">
               <p class="font-bold  text-center text-3xl">Tomato</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>

            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/potato.jpg" alt="" height="500" width="500">
                <p class="font-bold  text-center text-3xl">Potato</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>
            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/capsicum.jpg" alt="" height="500" width="500">
                <p class="font-bold text-center text-3xl">Capsicum</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>
        </div>
    </div>


    <br>




    <!--second row card-->


    <div>
        <div class="grid grid-cols-4 gap-4">
            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/carrot.jpg" alt="" height="500" width="500">
                <p class="font-bold  text-center text-3xl">Carrot</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>
            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/beetroot.jpg" alt="" height="500" width="500">
                <p class="font-bold  text-center text-3xl">Beetroot</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>
            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/beans.jpg" alt="" height="500" width="500">
                <p class="font-bold  text-center text-3xl">Beans</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>
            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/brinjal.jpg" alt="" height="500" width="500">
                <p class="font-bold  text-center text-3xl">Brinjal</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>
        </div>
    </div>


    <br>




    <!--third row card-->

    <div>
        <div class="grid grid-cols-4 gap-4">
            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/cabbage.jpg" alt="" height="500" width="500">
                <p class="font-bold  text-center text-3xl">Cabbage</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>
            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/mushrrom.jpg" alt="" height="500" width="500">
                <p class="font-bold  text-center text-3xl">Mushroom</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>
            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/drumstick.jpg" alt="" height="500" width="500">
                <p class="font-bold text-center text-3xl">Drumstick</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>
            <div class="border-box border-2 border-black hover:border-2 hover:border-black hover:p-2">
                <img src="/assets/ging,gar.jpg" alt="" height="500" width="500">
                <p class="font-bold text-center text-3xl">Ginger&Garlic</p>
                <p class="text-xl font-bold text-center pr-2"><i class="bi bi-currency-rupee"></i>100</p>
                <div class="text-center">
                    <a href="/form" class="btn btn-primary my-2 px-2">Shop now</a>
                    </div>
            </div>
        </div>
    </div>

</section>
<br>