
<section class="">
    <div class="main">


<section>
    <div class="grid grid-cols-2 gap-4">
        <div>
             <p class="text-2xl py-10 px-5 m-4 pd-10 font-bold">At SHOPMART, we're passionate about providing the freshest,
                    highest-quality vegetables, fruits, and fresh juices to our customers. Our mission is to promote healthy eating
                    habits and support local farmers and sustainable agriculture.We believe that eating nutritious food is essential
                    for maintaining a healthy lifestyle. That's why we've dedicated ourselves to sourcing the best produce from local
                    farmers and creating delicious, refreshing juices that are bursting with flavor and nutrients.
                </p>
        </div>
        <div>
              <!--carousel-->

              <div id="carouselExample" class="carousel slide">
               <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/assets/caro1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/assets/caro2.png" class="d-block w-100" alt="...">
                    </div>
                     <div class="carousel-item">
                       <img src="/assets/caro3.png" class="d-block w-100" alt="...">
                     </div>
                   </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>     
            

        </div>
    </div>
</section>



        <br>


        <!--card-->

        <div class="grid grid-cols-3 gap-2 container">
            <div class="box-border border-2 border-black">
                <div class="px-8">
                    <div class="px-20">
                    <img src="/assets/aboutcard.avif" alt="img" height="250" width="250">
                    </div>
                    <p class="font-bold text-2xl px-15 underline">Fresh Fruits
                    </p>
                    <p class="text-xl font-bold">Indulge in our vibrant selection of organic fruits, carefully handpicked to ensure maximum flavor and nutrition. Experience the sweetness of nature, without any artificial additives or preservatives.</p>
                </div>
            </div>
            <div class="box-border border-2 border-black">
                <div class="px-8">
                    <div class="px-20">
                    <img src="/assets/about card4.avif" alt="img" height="250" width="250">
                    </div>
                    <p class="font-bold text-2xl px-15 underline">Free Delivery</p>
                    <p class="text-xl font-bold">Get your favorite fruits and veggies delivered right to your doorstep, absolutely free! No minimum order required, because we want to make healthy living easy and accessible for everyone</p>
                </div>
            </div>
            <div class="box-border border-2 border-black">
                <div class="px-8">
                    <div class="px-20">
                    <img src="/assets/aboutpayment.avif" alt="img" height="250" width="250">
                    </div>
                    <p class="font-bold text-2xl px-2 underline">Easy Payment</p>
                    <p class="text-xl font-bold px-2">Secure checkout with our easy payment options, including credit/debit cards, net banking, and more. Pay effortlessly and get back to enjoying your fresh and healthy goodies!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<br>

<!--img-->

<div>
    <p class="font-bold italic text-4xl text-center">Seasoning Fruits & Vegetables🍂</p>
</div>
<!--popup imgs-->
<div class="grid grid-cols-3 gap-4 box-border border-2 border-white p-4">
    <div class="h-100 w-100 overflow-hidden rounded-md">
        <img class="hover:scale-150 transition-all duration-500 cursor-pointer" src="/assets/aboutstrawberry.webp" alt="img" />
    </div>
    <div class="h-100 w-100 overflow-hidden rounded-md">
        <img class="hover:scale-150 transition-all duration-500 cursor-pointer" src="/assets/aboutcarrot.jpg" alt="img" />
    </div>
    <div class="h-100 w-100 overflow-hidden rounded-md">
        <img class="hover:scale-150 transition-all duration-500 cursor-pointer" src="/assets/aboutblueberry.jpg" alt="img" />
    </div>
</div>

<div class="grid grid-cols-3 gap-4 box-border border-2 border-white p-4">
    <div class="h-100 w-100 overflow-hidden rounded-md">
        <img class="hover:scale-150 transition-all duration-500 cursor-pointer" src="/assets/aboutmango.webp" alt="img" />
    </div>
    <div class="h-100 w-100 overflow-hidden rounded-md">
        <img class="hover:scale-150 transition-all duration-500 cursor-pointer" src="/assets/aboutpotato.jpg" alt="img" />
    </div>
    <div class="h-100 w-100 overflow-hidden rounded-md">
        <img class="hover:scale-150 transition-all duration-500 cursor-pointer" src="/assets/aboutapple.jpg" alt="img" />
    </div>
</div>




<!--Review-->

<div>
    <p class="text-center font-bold text-4xl">Customer's Review💎</p>
</div>
<br>

<div class="grid grid-cols-3 gap-2 container">
    <div class="box-border border-2 border-black font-bold text-2xl">
        <i class="bi bi-person text-red-900"></i>John
        <p class="font-bold tracking-wider p-2">I'm absolutely loving the fresh and juicy fruits from ShopMart. The quality is top-notch and the delivery service is super convenient. Highly recommend for anyone looking for a reliable fruit supplier!</p>
    </div>
    <div class="box-border border-2 border-black font-bold text-2xl">
        <i class="bi bi-person text-red-900"></i>Shiya
        <p class="font-bold tracking-wider p-2">I'm blown away by the crisp freshness and vibrant colors of the veggies from ShopMart. Their delivery service is convenient and reliable, making healthy eating a breeze!</p>
    </div>
    <div class="box-border border-2 border-black font-bold text-2xl">
        <i class="bi bi-person text-red-900"></i>Krish
        <p class="font-bold tracking-wider p-2">I'm hooked on the delicious and refreshing juices from ShopMart. Their cold-pressed juices are made with love and care, and I can taste the difference!</p>
    </div>
</div>







<section>
    <div class="p-4 text-center text-black font-bold text-4lxl tracking-wider">
        {{#if info.is_present}}
            <p>{{info.name}} Present</p>
            {{else}}
            <p></p>
        {{/if}}


        {{#each Choki}}
            <p>{{.}}</p>
        {{/each}}

        {{log info}}
    </div>
</section>






