<div class="grid grid-cols-2 mx-20 pl-8 m-4">
    <div class="pl-8">
        <img src="/assets/contact.jpg" alt="" width="500" height="50">
    </div>
        <div class="grid gap-2 justify-center items-center border-2 border-white mx-20 py-4 bg-black rounded">
            <div class="text-white text-center font-bold text-3xl py-2">
                Contact Us
                <hr class="border-2 w-full border-white text-center">
            </div>
        <form class="border-2 border-white p-4 mt-2">
            <label for="name" class="flex flex-col gap-4 text-center text-xl font-bold text-white my-2">
                Name
                <input type="text" class="bg-transparent border-2 border-white text-lg font-bold text-white p-2 rounded" placeholder="Name">
            </label>
            <label for="email" class="flex flex-col gap-4 text-center text-xl font-bold text-white my-2">
                Email
                <input type="email" class="bg-transparent border-2 border-white text-lg font-bold text-white p-2 rounded" placeholder="email">
            </label>
               <input type="submit" class="border-2 border-white text-lg font-bold text-white  p-2 rounded my-2 hover:bg-gray-500 hover:text-green-200">
            </form>
    </div>
</div>

    <div class="grid grid-cols-3 gap-4 mx-20 py-3">
        <div class="box-border border-2 border-gray-500 text-center tracking-widest p-9 my-2 rounded-xl bg-black text-white border-p-2">
            <div class="flex flex-col justify-center items-center text-6xl my-4">
                <i class="bi bi-alarm my-5"></i>
               <hr class="border-2 w-12 border-white">
            </div>
           <p class="font-bold text-xl text-center">
               Hours of Working<br>
                Monday - Friday<br>
                9am - 5pm
           </p>
        </div>

        <div class="box-border border-2  border-gray-500 text-center tracking-widest p-10 my-2 rounded-x bg-black text-white border-p-2">
            <div class="flex flex-col justify-center items-center text-6xl my-4">
                <i class="bi bi-telephone my-5"></i>
                <hr class="border-2 w-12  border-white">
            </div>
            <p class="font-black text-xl mp-2 my-2">
                phone no: +44 (0) 123 456 78
            </p>
            <p class="font-black text-xl">
                phone no: +44 (0) 123 456 98
            </p>
        </div>

        <div class="box-border border-2 border-gray-500 text-center tracking-widest p-10  my-2 rounded-xl bg-black text-white border-p-2">
            <div class="flex flex-col justify-center items-center text-6xl my-4">
                <i class="bi bi-chat-left-dots my-5"></i>
                <hr class="border-2 w-12 border-white">
            </div>
             <div class="font-black text-xl mp-2 my-2">
                General Inquiries<br>
               email address: shopmart@gmail.com
             </div>
        </div>
    </div>



    <div class="bg-black tracking-widest p-10 my-2 mx-20">
       <div class="text-center font-bold text-black ">
          <p class="font-black text-xl text-green-200">
            Our customer service team is waiting to assist you.
         </p>

        <p class="font-black text-xl text-center text-green-200">
            Get in touch with our friendly support team🤝
        </p>
      </div>
    </div>

<section>
    <div class="grid grid-cols-3 gap-4 px-3 py-4 mx-20">
        <div class="box-border border-2 border-gray-500 text-center tracking-widest p-10 my-2 rounded-xl bg-black text-white border-p-2">
            <div class="flex flex-col justify-center items-center text-4xl my-4">
                  <div class="text-2xl text-justify font-bold underline underline-offset-2 p-5 uppercase">
                    Chat Support
                  </div>
                <p class="font-black text-2xl">
                    We support chat on our plans Please login with your Chat Support account.
                </p>
</div>
        </div>

        <div class="box-border border-2 border-gray-500 text-center tracking-widest p-10 my-2 rounded-xl bg-black text-white border-p-2">
            <div class="flex flex-col justify-center items-center text-4xl my-4">
                <p class="text-2xl text-justify-center font-bold underline underline-offset-2 p-5 uppercase">
                    Email Support
                </p>
                <p class="font-black text-2xl">
                   Prefer to email send us an email address and we will get back to you as soon as possible.
                </p>
            </div>
        </div>

        <div class="box-border border-2 border-gray-500 text-center tracking-widest p-10 my-2 rounded-xl bg-black text-white border-p-2">
            <div class="flex flex-col justify-center items-center text-4xl my-4">
                <p class="text-2xl text-justify font-bold underline underline-offset-2 p-5 uppercase">
                   Help Center
                </p>
                <p class="font-black text-2xl">
                    Our self-service team is waiting to assist you.
                    Our service help center is open 24/7
                </p>
            </div>
        </div>
    </div>
</section>





















