<section class="home">


<!--card-->
<div class="flex mx-20">
    <img src="/assets/pluck.jpg" alt="" width="1500">
</div>


<!--images-->
<div class="flex text-xl font-bold justify-center items-center m-4 mx-20">
    Cities We Serve
</div>

<div class="grid grid-cols-3 gap-4 py-4 px-5 height-20 mx-20">
    <div class="mx-25 px-20">
        <img src="/assets/city-delhi.svg" alt="">
        <p class="text-xl font-bold pr-10 items-center text-center">
            Delhi
        </p>
    </div>
    <div class="mx-25 px-20">
        <img src="/assets/city-banglore.svg" alt="">
        <p class="text-xl font-bold items-center text-center">
            Banglore
        </p>
    </div>
    <div class="mx-25 px-20 ">
        <img src="/assets/mumbai.svg" alt="">
        <p class="text-xl font-bold items-center text-center">
            Mumbai
        </p>
    </div>
</div>


<!--cards-->

<div class="grid grid-cols-3 gap-4 py-4 px-5 height-20 mx-20 px-25">
    <div class="border border-black p-2">
        <img src="/assets/veg.jpg" alt="">
        <div class="card-body text-black text-center py-4 font-bold text-xl">
            <h5 class="card-title">VEGETABLES</h5>
            <a href="/vegetables" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>
    <div class="border border-black p-2">
        <img src="/assets/fruits.jpg" alt="">
        <div class="card-body text-black text-center py-4 font-bold text-xl">
            <h5 class="card-title">FRUITS</h5>
            <a href="/shop" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>
    <div class="border border-black p-2">
        <img src="/assets/juice.jpg" alt="">
        <div class="card-body text-black text-center py-4 font-bold text-xl">
            <h5 class="card-title">FRESH JUICE</h5>
            <a href="/juice" class="btn btn-primary my-2 px-2">Shop now</a>
        </div>
    </div>
</div>


<!--carousel-->
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/offer.jpg" class="d-block w-90" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/offer2.jpg" class="d-block w-90 alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/offer3.jpg" class="d-block w-90" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!--shop mart deal-->


<div class="mx-20 px-10 py-4 font-bold text-xl">
    Shopmart Deals <br>
    Enjoy loveable Savings with us every day
</div>
<p class="text-end font-bold underline mx-20 px-25 py-2">
    <a href="">View all</a>
</p>

<div class="grid grid-cols-3 gap-4 py-4 px-5 height-20 mx-20 px-25">
    <div class="border border-black p-2">
        <img src="/assets/straw.jpg" alt="">
        <div class="card-body text-black text-center py-2">
            <h5 class="card-title font-bold">Strawberry</h5>
            <span>
                   strawberries are sweet, juicy fruits packed with vitamins, antioxidants.
               </span>
            <h2 class="font-bold text-m p-2">
                230-240 Gms <br>
                ₹260 <br>
                <a href="/cart" class="btn btn-primary py-2 px-5 p-2">Add</a>
            </h2>
        </div>
    </div>


    <div class="border border-black p-2 w-120 h-90 mx-2">
        <img src="/assets/watermelon.jpg" alt="">
        <div class="card-body text-black text-center py-2">
            <h5 class="card-title font-bold">Watermelon</h5>
            <span>
                   strawberries are sweet, juicy fruits packed with vitamins, antioxidants.
               </span>
            <h2 class="font-bold text-m p-2">
                230-240 Gms <br>
                ₹260 <br>
                <a href="/cart" class="btn btn-primary py-2 px-5 p-2">Add</a>
            </h2>
        </div>
    </div>


    <div class="border border-black p-2">
        <img src="/assets/cucumber.jpg" alt="">
        <div class="card-body text-black text-center py-2">
            <h5 class="card-title font-bold">Cucumber</h5>
            <span>
                   strawberries are sweet, juicy fruits packed with vitamins, antioxidants.
               </span>
            <h2 class="font-bold text-m p-2">
                230-240 Gms <br>
                ₹260 <br>
                <a href="/cart" class="btn btn-primary py-2 px-5 p-2">Add</a>
            </h2>
        </div>
    </div>
</div>
</div>


<!--offer-->
<div class="flex justify-center items-center gap-2 py-4 mx-20">
    <img src="/assets/fru1.jpg" alt="" width="600" height="170">
    <img src="/assets/fru2.jpg" alt="" width="600" height="170">
</div>


<!--services-->

<div class="flex justify-center items-center gap-2 font-bold text-xl mx-20">
    Shopmart With Peace of Mind
</div>

<div class="grid grid-cols-3 gap-4 py-4 px-20 height-20 mx-20 px-25">
    <div class="border border-black font-bold text-xl bg-pink-300 m-2 py-2 text-center">
        Certified Quality
        <hr>

        <p class="bg-white p-2">
            Quality control for every order
            done by our experienced
            HACCP certified team.
        </p>
    </div>

    <div class="border border-black font-bold text-xl bg-pink-300 m-2 py-2 text-center">
        Plastic Neutral Delivers
        <hr>

        <p class="bg-white p-2">
            Less Plastic Starts
            today!<br>
            Let's Reduce Plastic Pollution
            Together.
        </p>
    </div>

    <div class="border border-black font-bold text-xl bg-pink-300 m-2 py-2 text-center">
        100% Money Back Guarantee
        <hr>

        <p class="bg-white p-2">
            Not Satisfied with the quality of <br>
            our products? We will refund your money.
        </p>
    </div>
</div>
</section>


